.outer{
  padding: 1rem;
  align-items: center;
}

.size{
  padding: 0.5rem;
  margin-left: 1rem;
}

.sp{
  padding-top: 6rem;
  padding-left: 3rem;
}

.head{
  padding: 0.75rem;
}

.menu{
  margin-bottom: 1rem;
}

.bt{
  position: absolute;
  left: 50%;
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transform: translate(-50%, -50%);
}

button:focus{
  color: brown;
}

button{
  font-size: 1rem;
  padding: 1rem;
  color: brown;
  background-color: white;
  border-width: 0.1rem;
  margin: 0.5rem;
}
